In [13]:
import tushare as ts
import pandas as pd

In [218]:
df = ts.get_tick_data('002743', date='2016-10-28')

In [1]:
# df.tail(10)

In [219]:
df['time'] = '2016-10-28 ' + df['time'] #时间前面加上日期，不用for，整列统一加上
df['time'] = pd.to_datetime(df['time']) #将整列从文本变成时间格式

## 将转换格式后的时间列设置为index

In [220]:
df = df.set_index('time') # 将转换格式后的时间列设置为index

In [237]:
df.tail(10)

                     price change  volume  amount type
time
2016-10-28 09:30:24  17.55  -0.03       5    8775   卖盘
2016-10-28 09:30:21  17.58   0.03       7   12305   买盘
2016-10-28 09:30:18  17.55  -0.03      40   70200   卖盘
2016-10-28 09:30:15  17.58   0.02      21   36918   买盘
2016-10-28 09:30:12  17.56     --       5    8780   卖盘
2016-10-28 09:30:09  17.56     --       1    1755   卖盘
2016-10-28 09:30:06  17.56   0.01      33   57947  中性盘
2016-10-28 09:30:03  17.55   0.04     293  514215   买盘
2016-10-28 09:30:00  17.51     --       0       0  中性盘
2016-10-28 09:25:03  17.51  17.51     261  457011   买盘

In [221]:
price_df = df['price'].resample('1min').ohlc() #新建一个价格dataframe,然后自动将分笔数据变成1分钟数据，还加上了时间列

In [222]:
price_df = price_df.dropna() #删除空值

In [240]:
price_df.head(10)

                      open   high    low  close
time
2016-10-28 09:25:00  17.51  17.51  17.51  17.51
2016-10-28 09:30:00  17.51  17.58  17.51  17.55
2016-10-28 09:31:00  17.54  17.55  17.51  17.52
2016-10-28 09:32:00  17.49  17.49  17.48  17.48
2016-10-28 09:33:00  17.46  17.46  17.40  17.40
2016-10-28 09:34:00  17.40  17.48  17.40  17.45
2016-10-28 09:35:00  17.48  17.53  17.48  17.53
2016-10-28 09:36:00  17.53  17.53  17.50  17.50
2016-10-28 09:37:00  17.50  17.50  17.43  17.43
2016-10-28 09:38:00  17.43  17.43  17.41  17.41

In [226]:
vols = df['volume'].resample('1min').sum() #从分笔数据计算分钟数据成交量

In [228]:
vols = vols.dropna() #去掉空值

In [229]:
vol_df = pd.DataFrame(vols, columns=['volume'])

In [230]:
amounts = df['amount'].resample('1min').sum()

In [231]:
amounts = amounts.dropna()

In [232]:
amount_df = pd.DataFrame(amounts, columns=['amount'])

# 根据index对几个dataframe进行合并，这里最重要。

In [233]:
newdf = price_df.merge(vol_df, left_index=True, 
                       right_index=True).merge(amount_df, 
                                               left_index=True, 
                                               right_index=True)

In [242]:
newdf.tail(20)

                      open   high    low  close  volume     amount
time
2016-10-28 14:39:00  17.56  17.58  17.54  17.57   497.0   872756.0
2016-10-28 14:40:00  17.57  17.60  17.55  17.55   552.0   969622.0
2016-10-28 14:41:00  17.55  17.55  17.53  17.53   183.0   320973.0
2016-10-28 14:42:00  17.53  17.55  17.52  17.54   178.0   312139.0
2016-10-28 14:43:00  17.54  17.56  17.53  17.55   361.0   633280.0
2016-10-28 14:44:00  17.55  17.59  17.55  17.59   266.0   467765.0
2016-10-28 14:45:00  17.59  17.59  17.56  17.57   210.0   368995.0
2016-10-28 14:46:00  17.57  17.58  17.57  17.58   334.0   587019.0
2016-10-28 14:47:00  17.57  17.58  17.57  17.57   276.0   485086.0
2016-10-28 14:48:00  17.57  17.59  17.56  17.57   394.0   692317.0
2016-10-28 14:49:00  17.57  17.58  17.56  17.57   680.0  1195227.0
2016-10-28 14:50:00  17.56  17.58  17.54  17.54  1026.0  1801211.0
2016-10-28 14:51:00  17.53  17.53  17.49  17.50  1434.0  2510677.0
2016-10-28 14:52:00  17.50  17.50  17.47  17.48   915.0  1599474.0
2016-10-28 14:53:00  17.48  17.48  17.47  17.48  1069.0  1868233.0
2016-10-28 14:54:00  17.48  17.50  17.47  17.47   802.0  1402050.0
2016-10-28 14:55:00  17.48  17.49  17.45  17.45   710.0  1240128.0
2016-10-28 14:56:00  17.45  17.47  17.43  17.43   685.0  1195027.0
2016-10-28 14:57:00  17.42  17.42  17.42  17.42     2.0     3484.0
2016-10-28 15:00:00  17.40  17.40  17.40  17.40  1662.0  2891879.0

In [243]:
d_dict = {'open':'first',
          'high':'max',
          'close':'last',
          'low':'min',
          'volume':'sum', 
          'amount':'sum'}

In [ ]:
new = pd.DataFrame()
for col in newdf.columns:
    new[col] = newdf[col].resample('5min',how=d_dict[col])

In [249]:
new.tail(20)

                      open   high    low  close  volume      amount
time
2016-10-28 13:25:00  17.42  17.42  17.40  17.40   600.0   1044700.0
2016-10-28 13:30:00  17.40  17.40  17.36  17.37   702.0   1219609.0
2016-10-28 13:35:00  17.35  17.36  17.33  17.36  1212.0   2102549.0
2016-10-28 13:40:00  17.36  17.37  17.34  17.35   747.0   1296447.0
2016-10-28 13:45:00  17.35  17.40  17.34  17.39   864.0   1501701.0
2016-10-28 13:50:00  17.39  17.52  17.38  17.52  3076.0   5375899.0
2016-10-28 13:55:00  17.54  17.63  17.52  17.56  7078.0  12443860.0
2016-10-28 14:00:00  17.56  17.59  17.48  17.56  2924.0   5126585.0
2016-10-28 14:05:00  17.56  17.58  17.52  17.54  2362.0   4148469.0
2016-10-28 14:10:00  17.54  17.58  17.53  17.55  1725.0   3028282.0
2016-10-28 14:15:00  17.57  17.73  17.56  17.65  6331.0  11180016.0
2016-10-28 14:20:00  17.64  17.74  17.64  17.68  4457.0   7887992.0
2016-10-28 14:25:00  17.69  17.69  17.62  17.64  3037.0   5361367.0
2016-10-28 14:30:00  17.63  17.65  17.55  17.60  1879.0   3309897.0
2016-10-28 14:35:00  17.63  17.64  17.54  17.57  2672.0   4701863.0
2016-10-28 14:40:00  17.57  17.60  17.52  17.59  1540.0   2703779.0
2016-10-28 14:45:00  17.59  17.59  17.56  17.57  1894.0   3328644.0
2016-10-28 14:50:00  17.56  17.58  17.47  17.47  5246.0   9181645.0
2016-10-28 14:55:00  17.48  17.49  17.42  17.42  1397.0   2438639.0
2016-10-28 15:00:00  17.40  17.40  17.40  17.40  1662.0   2891879.0